<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>Recipe App</title>
</head>
    <body class="container">
        <h1 class="">Recipe App</h1>
        <br>
        <div>
            <div th:each="recipe : ${recipes}" class="mb-5">
                <h3 th:text="${recipe.getDescription()}">Recipe Desc1</h3>
                <p>
                    <strong >Prep Time</strong>: <span th:text="${recipe.getPrepTime()}">10</span> minutes, &nbsp;
                    <strong>Cook Time</strong>: <span th:text="${recipe.getCookTime()}">9</span> minutes, &nbsp;
                    <strong>Servings</strong>: <span th:text="${recipe.getServings()}">10</span> servings &nbsp;
                </p>

                <ul th:each="ingredient: ${recipe.getIngredients()}" class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">
                        <span th:text="${ingredient.getAmount() &lt; 1} ? '' : ${ingredient.getAmount()?.intValue()}">1</span>
                        <span th:switch="${ingredient.amount?.intValue()}">
                            <span th:case="'0'" th:text="''"></span>
                            <span th:case="'1'" th:text="${ingredient.uom == null} ? '' : ${ingredient.uom?.uom}+' of'"></span>
                            <span th:case="'2'" th:text="${ingredient.uom == null} ? '' : ${ingredient.uom?.uom}+'s of'"></span>
                        </span>
                        <span th:text="${ingredient.getDescription()}">salt</span>
                    </li>
                </ul>

            </div>
        </div>
    </body>
</html>