<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <title>Recipes</title>
</head>
<body>
    <header class="container mt-5">
        <h1>Recipe App</h1>
        <div class="card text-white  mb-3">
            <div class="card-header bg-primary">My recipes</div>
            <div class="card-body">
                <table class="table table-responsive-lg table-hover">
                    <caption>Recipes</caption>
                    <thead class="thead-primary">
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody th:each="recipe : ${recipes}">
                    <tr>
                        <td th:text="${recipe.getId()}">123</td>
                        <td th:text="${recipe.getDescription()}">Tasty Goodness 1</td>
                        <td><a th:href="@{/recipes/{id}(id=${recipe.getId()})}" href="#">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </header>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
    ></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
    ></script>
</body>
</html>